examples/m-queue-demo.json
[{"id":"75a2f227.f318d4","type":"tab","label":"m-queue-demo","disabled":false,"info":""},{"id":"b97b3901.2b334","type":"function","z":"75a2f227.f318d4","name":"m-queue","func":"let qArray = context.get('qArray')\nlet qSelect = msg.topic // update\nlet Q = {}\nlet qIndex = 0\nlet qExists = true\nif (qSelect === 'all') {\n    first = 0\n    last = qArray.length\n} else if (qSelect == undefined || qSelect == '') { // qSelect undefined?\n    first =0\n    last = 1\n} else {    // queue exists?\n    qExists = false\n    for (i = 0; i < qArray.length; i++) {\n        if (qArray[i].qName == qSelect) {\n            qExists = true\n            qIndex = i\n        }\n    }\n    if (qExists) {\n        first = qIndex\n        last = qIndex + 1\n    } else {\n        first = 0\n        last = 1\n    }\n}\nfor (qIndex = first; qIndex < last; qIndex++) {\nif (msg.control) {  // execute command -- update\n    if (!qExists) {\n        node.warn('Invalid command ignored: queue does not exist.')\n        return\n    }\n    Q = qArray[qIndex]\n    switch (msg.payload) {  // update\n        case 'trigger':\n            if (Q.paused) {break}\n            node.send (Q.msgQ.shift())\n            if (qIndex != 0 && Q.msgQ.length === 0) {  // delete empty queue\n                qArray.splice(qIndex,1)\n            }\n            break\n        case 'peek':    // works when queue is paused\n            node.send(RED.util.cloneMessage(Q.msgQ[0]));\n            break\n        case 'drop':\n            if (Q.paused) {break}\n            Q.msgQ.shift()\n            break\n        case 'flush':\n            node.send([Q.msgQ])\n        case 'reset':\n            if (qIndex != 0) {  // delete queue\n                qArray.splice(qIndex,1)\n            } else {\n                Q.msgQ = []\n            }\n            break\n        case 'resume':\n            Q.paused = false\n            break\n        case 'pause':\n            Q.paused = true\n            break\n        case 'maximum':\n            Q.maxSize = msg.maximum // update\n            break\n        case 'status':\n//        node.send([qArray])   // debug\n        node.send([null,qArray])   // debug\n            break\n        default:\n        node.warn('Invalid command ignored');\n    }\n} else {    // queue message\n    if (!qExists) {  // create new queue\n        qArray.push({\n            qName: qSelect,\n            msgQ: [msg],\n            paused: false,\n            keepNewest: false,\n            maxSize: 100\n        })\n    } else {  //use existing queue\n        Q = qArray[qIndex]\n        if (!Q.paused) {   // queue not paused\n        if (Q.msgQ.length < Q.maxSize) {  // queue not full\n                Q.msgQ.push(msg)\n            } else if (Q.keepNewest) { // keep newest, drop oldest\n                Q.msgQ.push(msg);\n                Q.msgQ.queue.shift();\n            }\n        }\n    }\n}\nlet n = 0   // show status\nfor (i = 0; i < qArray.length; i++) {\n    n = n + qArray[i].msgQ.length\n}\nnode.status({text:n + ' messages, ' + qArray.length + ' queues'})\ncontext.set('qArray',qArray)\n}","outputs":2,"noerr":0,"initialize":"let queueArray = [{queueName: 'default',\n    messageQueue: [],\n    enabled: true,\n    keepNewest: false,\n    maxSize: 100}]\ncontext.set('queueArray',queueArray)\n\nlet qArray = [\n    {\n        qName: \"default\",\n        msgQ: [],\n        paused: false,\n        keepNewest: false,\n        maxSize: 100\n    }]\ncontext.set('qArray', qArray)\nnode.status({text:0 + ' messages, ' + 1 + ' queues'})\n\n/*\naction\t\tdefinition\n-----------------------\ntrigger\t\tsend and delete oldest message in queue\npause\t\taccept no incoming messages, except start\nresume*\t\tresume accepting messages\nflush\t\tsend all queued messages\npeek*\t\tsend and retain oldest message in queue\ndrop\t\tdelete oldest message in queue\nreset\t\tdelete all queued messages\nstatus*\t\trefresh node status display\nmaximum\t\tset maximum queue length (< 1, no limit)\n*/","finalize":"","x":580,"y":460,"wires":[["27178723.61a4a8"],["8260729a.60629"]]},{"id":"2e81b27e.38c676","type":"inject","z":"75a2f227.f318d4","name":"input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"","payloadType":"date","x":90,"y":220,"wires":[["8f51fc27.7461a"]]},{"id":"7331f684.0d42e8","type":"inject","z":"75a2f227.f318d4","name":"input","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"queue1","payload":"","payloadType":"date","x":490,"y":100,"wires":[["9a8b71f3.b3b6a8"]]},{"id":"27178723.61a4a8","type":"debug","z":"75a2f227.f318d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":440,"wires":[]},{"id":"d4a8baa4.2ed418","type":"inject","z":"75a2f227.f318d4","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"trigger","payloadType":"str","x":270,"y":80,"wires":[["8f51fc27.7461a"]]},{"id":"e2d5eba0.e82968","type":"inject","z":"75a2f227.f318d4","name":"peek","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"peek","payloadType":"str","x":270,"y":240,"wires":[["8f51fc27.7461a"]]},{"id":"62b8ebe6.e34254","type":"inject","z":"75a2f227.f318d4","name":"pause","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"pause","payloadType":"str","x":270,"y":120,"wires":[["8f51fc27.7461a"]]},{"id":"2968d6c2.1c426a","type":"inject","z":"75a2f227.f318d4","name":"resume","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"resume","payloadType":"str","x":270,"y":160,"wires":[["8f51fc27.7461a"]]},{"id":"524b3a66.c598fc","type":"inject","z":"75a2f227.f318d4","name":"drop","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"drop","payloadType":"str","x":270,"y":280,"wires":[["8f51fc27.7461a"]]},{"id":"d475141f.f79e6","type":"inject","z":"75a2f227.f318d4","name":"flush","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"flush","payloadType":"str","x":270,"y":200,"wires":[["8f51fc27.7461a"]]},{"id":"5c857d77.ef0034","type":"inject","z":"75a2f227.f318d4","name":"flush","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"queue1","payload":"flush","payloadType":"str","x":650,"y":120,"wires":[["9a8b71f3.b3b6a8"]]},{"id":"7bdcc2a.3d5bf3c","type":"inject","z":"75a2f227.f318d4","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"reset","payloadType":"str","x":270,"y":320,"wires":[["8f51fc27.7461a"]]},{"id":"a34c033a.3c84c","type":"inject","z":"75a2f227.f318d4","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"queue1","payload":"reset","payloadType":"str","x":650,"y":200,"wires":[["9a8b71f3.b3b6a8"]]},{"id":"9413257a.f34068","type":"inject","z":"75a2f227.f318d4","name":"maximum","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"},{"p":"maximum","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"maximum","payloadType":"str","x":260,"y":360,"wires":[["8f51fc27.7461a"]]},{"id":"52ea570d.d57e08","type":"inject","z":"75a2f227.f318d4","name":"","props":[{"p":"payload"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"status","payloadType":"str","x":230,"y":460,"wires":[["41a22656.ad437"]]},{"id":"7ee4d0ac.0358a","type":"inject","z":"75a2f227.f318d4","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"queue1","payload":"trigger","payloadType":"str","x":650,"y":80,"wires":[["9a8b71f3.b3b6a8"]]},{"id":"26c05686.a92e92","type":"inject","z":"75a2f227.f318d4","name":"input all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"all","payload":"","payloadType":"date","x":590,"y":340,"wires":[["7a7221f7.febf3"]]},{"id":"1d0498ae.977b07","type":"comment","z":"75a2f227.f318d4","name":"default queue","info":"","x":250,"y":40,"wires":[]},{"id":"8f51fc27.7461a","type":"link out","z":"75a2f227.f318d4","name":"","links":["7f658eda.a31058"],"x":435,"y":220,"wires":[]},{"id":"9a8b71f3.b3b6a8","type":"link out","z":"75a2f227.f318d4","name":"","links":["7f658eda.a31058"],"x":795,"y":100,"wires":[]},{"id":"41a22656.ad437","type":"link out","z":"75a2f227.f318d4","name":"","links":["7f658eda.a31058"],"x":335,"y":460,"wires":[]},{"id":"6e0fa707.f6df7","type":"comment","z":"75a2f227.f318d4","name":"queue #1","info":"","x":640,"y":40,"wires":[]},{"id":"7a7221f7.febf3","type":"link out","z":"75a2f227.f318d4","name":"","links":["7f658eda.a31058"],"x":795,"y":340,"wires":[]},{"id":"7f658eda.a31058","type":"link in","z":"75a2f227.f318d4","name":"","links":["41a22656.ad437","7a7221f7.febf3","8f51fc27.7461a","9a8b71f3.b3b6a8"],"x":475,"y":460,"wires":[["b97b3901.2b334"]]},{"id":"34529be4.051ac4","type":"comment","z":"75a2f227.f318d4","name":"all queues","info":"","x":640,"y":260,"wires":[]},{"id":"d90cbf00.23cf","type":"inject","z":"75a2f227.f318d4","name":"newest","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"},{"p":"newest","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"default","payload":"newest","payloadType":"str","x":270,"y":400,"wires":[["8f51fc27.7461a"]]},{"id":"29489dd3.db6d2a","type":"inject","z":"75a2f227.f318d4","name":"peek","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"queue1","payload":"peek","payloadType":"str","x":650,"y":160,"wires":[["9a8b71f3.b3b6a8"]]},{"id":"a057816c.0028a8","type":"inject","z":"75a2f227.f318d4","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"all","payload":"trigger","payloadType":"str","x":650,"y":300,"wires":[["7a7221f7.febf3"]]},{"id":"98b3dc41.f34378","type":"inject","z":"75a2f227.f318d4","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"all","payload":"reset","payloadType":"str","x":650,"y":380,"wires":[["7a7221f7.febf3"]]},{"id":"8260729a.60629","type":"debug","z":"75a2f227.f318d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":480,"wires":[]}]