examples/m-queue-status.json
[{"id":"fff3933.09139f","type":"inject","z":"a25c5984.bb3248","name":"status","props":[{"p":"payload"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"status","payloadType":"str","x":210,"y":160,"wires":[["fece2ca1.c5a24"]]},{"id":"2098ab05.a81144","type":"debug","z":"a25c5984.bb3248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"ae212584.32f4a8","type":"status","z":"a25c5984.bb3248","name":"","scope":["fece2ca1.c5a24"],"x":360,"y":180,"wires":[["e07b4047.96a12"]]},{"id":"e07b4047.96a12","type":"debug","z":"a25c5984.bb3248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status.text","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":180,"wires":[]},{"id":"fece2ca1.c5a24","type":"m-queue","z":"a25c5984.bb3248","name":"queue #1","queueSelect":"topic","controlFlag":"control","defaultQueue":"default","allQueues":"all","triggerCmd":"trigger","statusCmd":"status","pauseCmd":"pause","resumeCmd":"resume","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","paused":false,"keepNewestDefault":false,"maxSizeDefault":100,"setMaximumFlag":"maximum","keepNewestFlag":"newest","persist":false,"storeName":"memoryOnly","statusOutput":false,"outputs":1,"x":360,"y":120,"wires":[["2098ab05.a81144"]]},{"id":"88fc842e.b843a","type":"debug","z":"a25c5984.bb3248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":260,"wires":[]},{"id":"ec7e050a.da048","type":"m-queue","z":"a25c5984.bb3248","name":"queue #2","queueSelect":"topic","controlFlag":"control","defaultQueue":"default","allQueues":"all","triggerCmd":"trigger","statusCmd":"status","pauseCmd":"pause","resumeCmd":"resume","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","paused":false,"keepNewestDefault":false,"maxSizeDefault":100,"setMaximumFlag":"maximum","keepNewestFlag":"newest","persist":false,"storeName":"memoryOnly","statusOutput":true,"outputs":2,"x":360,"y":280,"wires":[["88fc842e.b843a"],["1c011b1d.17da95"]]},{"id":"1c011b1d.17da95","type":"debug","z":"a25c5984.bb3248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":300,"wires":[]},{"id":"8e739fe6.11563","type":"inject","z":"a25c5984.bb3248","name":"input","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["fece2ca1.c5a24"]]},{"id":"b3cb0e71.5314a8","type":"inject","z":"a25c5984.bb3248","name":"status","props":[{"p":"payload"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"status","payloadType":"str","x":210,"y":320,"wires":[["ec7e050a.da048"]]},{"id":"67f91541.df8e14","type":"inject","z":"a25c5984.bb3248","name":"input","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["ec7e050a.da048"]]},{"id":"9b2f745c.baab3","type":"inject","z":"a25c5984.bb3248","name":"trigger","props":[{"p":"payload"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"trigger","payloadType":"str","x":210,"y":80,"wires":[["fece2ca1.c5a24"]]},{"id":"3e4571de.1304ee","type":"inject","z":"a25c5984.bb3248","name":"trigger","props":[{"p":"payload"},{"p":"control","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"trigger","payloadType":"str","x":210,"y":240,"wires":[["ec7e050a.da048"]]}]